USE [master]
GO
/****** Object:  Database [ProjectPrn231]    Script Date: 7/20/2023 9:38:18 PM ******/
CREATE DATABASE [ProjectPrn231]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectPrn231', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectPrn231.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectPrn231_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectPrn231_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectPrn231].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectPrn231]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[StudentId] [int] NOT NULL,
	[QuestionId] [nvarchar](50) NOT NULL,
	[TotalMark] [float] NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionDetail]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionDetail](
	[QuestionId] [nvarchar](50) NOT NULL,
	[Q] [int] NULL,
	[Status] [int] NULL,
	[Category] [int] NULL,
	[Note] [varchar](max) NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_QuestionDetail] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionNo]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionNo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [nvarchar](50) NOT NULL,
	[StudentID] [int] NOT NULL,
	[QuestionSTT] [nvarchar](max) NULL,
	[Mark] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Note] [varchar](50) NULL,
	[InputTestCase] [varchar](max) NULL,
	[OutputTestCase] [varchar](max) NULL,
	[Output] [varchar](max) NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_QuestionNo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCaseDb]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCaseDb](
	[QuestionNo] [int] IDENTITY(1,1) NOT NULL,
	[Name] [int] NOT NULL,
	[InputTesCase] [nvarchar](max) NULL,
	[OutputTestCase] [nvarchar](max) NULL,
	[Ouput] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestCase] PRIMARY KEY CLUSTERED 
(
	[QuestionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/20/2023 9:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[UserName] [varchar](max) NOT NULL,
	[PassWord] [varchar](max) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[MSSV] [varchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[DateUpdate] [date] NOT NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Class] ([id], [Name], [CreateDate], [UpdateDate]) VALUES (1, N'SE1606', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-05' AS Date))
INSERT [dbo].[Class] ([id], [Name], [CreateDate], [UpdateDate]) VALUES (2, N'SE1437', CAST(N'2023-02-01' AS Date), CAST(N'2023-02-05' AS Date))
INSERT [dbo].[Class] ([id], [Name], [CreateDate], [UpdateDate]) VALUES (3, N'Teacher', NULL, NULL)
GO
INSERT [dbo].[User] ([id], [UserName], [PassWord], [ClassID], [Name], [MSSV], [Role], [DateCreate], [DateUpdate]) VALUES (1, N'HE140001_ANVHE', N'123', 1, N'NGUYEN VAN ANH', N'140001', 1, CAST(N'2023-01-01' AS Date), CAST(N'2023-01-02' AS Date))
INSERT [dbo].[User] ([id], [UserName], [PassWord], [ClassID], [Name], [MSSV], [Role], [DateCreate], [DateUpdate]) VALUES (2, N'HE140002_BHTHE', N'1233', 1, N'HOANG THI BE', N'140002', 1, CAST(N'2023-02-01' AS Date), CAST(N'2023-02-02' AS Date))
INSERT [dbo].[User] ([id], [UserName], [PassWord], [ClassID], [Name], [MSSV], [Role], [DateCreate], [DateUpdate]) VALUES (3, N'user3', N'123', 1, N'HOANG THI C', N'15111', 1, CAST(N'2023-01-01' AS Date), CAST(N'2023-01-01' AS Date))
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Mark_User] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Mark_User]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Class]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_QuestionDetail] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionDetail] ([QuestionId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_QuestionDetail]
GO
ALTER TABLE [dbo].[QuestionNo]  WITH CHECK ADD  CONSTRAINT [FK_QuestionNo_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[QuestionNo] CHECK CONSTRAINT [FK_QuestionNo_Class]
GO
ALTER TABLE [dbo].[QuestionNo]  WITH CHECK ADD  CONSTRAINT [FK_QuestionNo_QuestionDetail] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionDetail] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionNo] CHECK CONSTRAINT [FK_QuestionNo_QuestionDetail]
GO
ALTER TABLE [dbo].[QuestionNo]  WITH CHECK ADD  CONSTRAINT [FK_QuestionNo_User] FOREIGN KEY([StudentID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[QuestionNo] CHECK CONSTRAINT [FK_QuestionNo_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Class]
GO
USE [master]
GO
