@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DataAccess.Models
@model List<Question>
@{
    Layout = null;
}
@{
    var users = ViewBag.user as User;
}
@if(User != null)
{
    <h1>Đã nhận</h1>
}
<table>
    <tr>
        <th>StudentName</th>
        <th>QuestionNo</th>
        <th>InputTestCase</th>
        <th>OutputTestCase</th>
        <th>Mark</th>
        <th>OutPut</th>
        <th>TotalMark</th>
    </tr>
    @foreach(Question item in Model)
    {
     <tr>
            <td>
             <input type="hidden" name="UserName" value="" />
            </td>
            <td>
                <input type="hidden" name="questionNos" value="" />
            </td>
            <td><input type="text" name="inputTestCases" value="@item.QuestionId" /></td>
            <td><input type="text" name="outputTestCases" value="" /></td>
            <td><input type="number" name="marks" value="" /></td>
            <td><input type="text" name="outputs" value="" /></td>
        </tr>
    }
   
</table>